= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :case_id
    %br/
    = f.text_field :case_id
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :type
    %br/
    = f.text_field :type
  .field
    = f.label :class_year
    %br/
    = f.number_field :class_year
  .actions
    = f.submit
