<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="#error_explanation">
            <h2>
                <%= pluralize(@user.errors.count, 'error') %>
                prohibited this user from being saved:
            </h2>
        </div>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <div class="field">
        <%= f.label :case_id %>
        <br/>
        <%= f.text_field :case_id %>
    </div>
    <div class="field">
        <%= f.label :name %>
        <br/>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :type %>
        <br/>
        <%= f.text_field :type %>
    </div>
    <div class="field">
        <%= f.label :class_year %>
        <br/>
        <%= f.text_field :class_year %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
