<p id="notice">
<%= notice %>
</p>

<p>
<strong>Case ID:</strong>
<%= @user.case_id %>
</p>

<p>
<strong>Name:</strong>
<%= @user.name %>
</p>

<p>
<strong>Class Year:</strong>
<%= @user.class_year %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>|<%= link_to 'Back', users_path %>
