%p#notice= notice
%p
  %strong Case:
  = @user.case_id
%p
  %strong Name:
  = @user.name
%p
  %strong Type:
  = @user.type
%p
  %strong Class year:
  = @user.class_year
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
