<p id="notice"><%= notice %></p>

<p>
  <strong>Case:</strong>
  <%= @user.case_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<p>
  <strong>Class year:</strong>
  <%= @user.class_year %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
