%h1 Scheduler

= form_for :semester, url: scheduler_path, method: :get, remote: true do |f|
  = f.select :semester, %w(Fall Spring Summer).map { |str| [str, str.downcase] }
  = f.select :year, options_for_select(2008..DateTime.now.year, DateTime.now.year)
  = f.select :half, ['First Half', 'Second Half'].map { |str| [str, str.split.first.downcase] }
  = hidden_field_tag :old_feed, nil # this is the old feed we need to remove
  = f.submit 'Change Semesters!'

= form_tag scheduler_path, role: :search, id: :schedule_form, remote: true do
  = hidden_field_tag :course_instance_id
  = text_field_tag :course_title, nil, placeholder: 'Add course instance to this semester', class: 'form-control'

#calendar

:javascript
  // pass any query parameters along to the JSON action
  var event_feed = '#{scheduler_feed}';
  $('#old_feed').val(event_feed);
  $('#calendar').fullCalendar({
    defaultView: 'agendaWeek', // think 'google calendar'
    header: '', // no headers
    allDaySlot: false, // don't show the 'all-day' slot at the top
    columnFormat: 'dddd', // show the full day name, but without the date
    weekends: false,
    events: event_feed
  });

  // autocomplete
  $('#course_title').autocomplete({
    source: '#{course_instance_autocomplete(@jump_date || Date.today)}',
    select: function(event, ui) {
      $('#course_instance_id').val(ui.item.value);
      $('#schedule_form').submit();
    }
  });
