%h1 Wishlist
= form_tag wishlist_path, role: :search, id: :wishlist_course_form do
  = hidden_field_tag :course_id
  = text_field_tag :course_title, nil, placeholder: "Quickly add courses to your wishlist", class: 'form-control'

/ someone else should make this look pretty
%table
  %thead
    %th Course
    %th Schedulable
    %th Actions
  %tbody
    - @wishlist.each do |item|
      %tr
        %td= link_to item.course, item.course
        %td= item.course.schedulable? ? "Yes" : "No"
        %td
          = add_remove_link @wishlist.map(&:course_id), item.course
          = set_notify_link item
