<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<%= form_tag courses_path, method: :get do %>
  <%= text_field_tag :query, params[:query], id: 'course-autocomplete', placeholder: 'Course search' %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td nowrap><%= link_to course, course %></td>
        <td><%= link_to course.title, course %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @courses %>
<%= page_entries_info @courses %>
