%p#notice= notice
/ Course Search Page
.no-gutter.row
  / left side column
  = render 'sidebar'
  .col-md-9
    #explorer_main.panel
      .panel-heading{style: "background-color:#111;color:#fff;"}
      .panel-body
        %h1 Listing Courses
        = form_tag courses_path, method: :get do
          = label_tag(:search)
          = text_field_tag :search, params[:search], placeholder: 'Course search', class: 'crs_search'
          %br
          = label_tag(:semester)
          = select_tag :semester, options_from_collection_for_select(@semesters, :id, :to_s, params[:semester].to_i), include_blank: "All", class: 'smstr'
          %br
          = label_tag(:professor)
          = text_field_tag :professor, params[:professor], class: 'prfssr'
          = submit_tag "Search", name: nil
        %table
          %thead
            %tr
              %th Course
              %th Title
          %tbody
            - @courses.each do |course|
              %tr
                %td{nowrap: "nowrap"}= link_to course, course
                %td= link_to course.title, course
        = paginate @courses
        = page_entries_info @courses

        %hr
