<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<%= form_tag courses_path, method: :get do %>
  <%= label_tag(:search) %>
  <%= text_field_tag :search, params[:search], id: 'course-autocomplete', placeholder: 'Course search' %>
  <%= label_tag(:semester) %>
  <%= select_tag :semester, options_from_collection_for_select(@semesters, :id, :to_s, params[:semester].to_i), include_blank: "All" %>
  <%= label_tag(:professor) %>
  <%= text_field_tag :professor, params[:professor] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td nowrap><%= link_to course, course %></td>
        <td><%= link_to course.title, course %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @courses %>
<%= page_entries_info @courses %>
