<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td nowrap><%= course.to_s %></td>
        <td><%= course.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @courses %>
<%= page_entries_info @courses %>
