<%= @course.department %> <%= @course.course_number %>: <%= @course.title %>

<p><%= @course.description %></p>

<p>Prereqs: TODO</p>

<% @instances_by_semester.each do |semester, instances| %>
  <p><b><%= semester %></b>:</p>
  <% instances.each do |instance| %>
    Section <%= instance.section %> taught by <%= instance.professor.name %><br />
  <% end %>
<% end %>
