.no-gutter.row
  / mid column
  .col-md-3
    #midCol.panel
      .panel-heading{style: "background-color:#555;color:#eee;"}
      .panel-body
        .well
          %h3= professor_search_link(first_professor)
        %hr/
        %h3 Previous Semesters
        - @instances_by_semester.each do |semester, instances|
          %p
            %b= semester
            \:
          - instances.sort_by(&:section).each do |instance|
            Section #{instance.section} taught by #{professor_search_link(instance.professor)}
            %br
            = instance.schedule
            %br
        - if user_signed_in?
          %hr/
          = add_remove_link current_user.wishlist.map(&:course_id), @course
  #content.col-md-6
    .panel
      .panel-heading{style: "background-color:#111;color:#fff;"}
      .panel-body
        .row
          .col-md-8
            %h2= @course.long_string
            %table{border: "0", cellpadding: "0", cellspacing: "0", cols: "2", width: "541"}
              %tbody
                %tr
                  %td{align: "left", valign: "top"}
                    %h4 Description:
                    %p= course_linkify(@course.description || '')
                    %p  
                    %h4 Prerequisites:
                    %ul
                      - prereq_sets(@course).each do |prereq_set|
                        %li= prereq_set
                    %h4 Required for:
                    %ul
                      - postreqs(@course).each do |postreq|
                        %li= postreq
  .col-md-3
    .panel
      .panel-heading{ style: 'background-color: #555; color: #eee;' }
      .panel-body
        %h4 Tips and Reviews
        = paginate @reviews, window: 1
        #reviews
          = render partial: 'reviews/show', collection: @reviews, as: :review
          - if user_signed_in?
            .new-review.row
              = form_for Review.new do |f|
                = f.hidden_field :course_id, value: @course.id
                .input-group
                  = f.text_field :body, class: 'form-control'
                  = f.select :professor_id, options_for_select(@course.real_professors.map { |p| [p.name, p.id] })
                = f.submit
