.review.row
  .col-md-10
    %strong
      Professor:
      = review.professor.try(:name)
    = review.body
  .helpfulness.col-md-2
    - if user_signed_in?
      = link_to upvote_review_path(review), remote: true, method: :put, class: 'upvote' + (disable_vote_link?(review, @current_user, 1) ? ' disabled' : '') do
        %span.glyphicon.glyphicon-chevron-up
    %span.helpfulness= review.helpfulness
    - if user_signed_in?
      = link_to downvote_review_path(review), remote: true, method: :put, class: 'downvote' + (disable_vote_link?(review, @current_user, -1) ? ' disabled' : '') do
        %span.glyphicon.glyphicon-chevron-down
%hr
