%nav.navbar.navbar-static
  .container
    .navbar-header
      = link_to "Get Jolly", root_path, class: 'navbar-brand'
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.glyphicon.glyphicon-chevron-down
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to "Explorer", courses_path,
          class: active_tab?(request, root_path, courses_path) ? 'active' : ''
        %li= link_to "Scheduler", scheduler_path,
          class: active_tab?(request, scheduler_path) ? 'active' : ''
        %li= link_to "Wish List", wishlist_path,
          class: active_tab?(request, wishlist_path) ? 'active' : ''
        %li= link_to "FAQ", faq_path,
          class: active_tab?(request, faq_path) ? 'active' : ''
      %ul.nav.navbar-right.navbar-nav
        %li
          %form.navbar-form{role: 'search', action: '/courses', method: :get}
            .form-group
              %input#course-autocomplete.form-control{placeholder: "Course Select", type: "text", name: 'search' }
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %i.glyphicon.glyphicon-user
            %i.glyphicon.glyphicon-chevron-down
          %ul.dropdown-menu{role: "menu"}
            - if user_signed_in?
              %li= link_to "#{current_user.case_id}: Logout", logout_users_path
            - else
              %li= link_to "Login", login_users_path(was_at: request.env['PATH_INFO'])
            %li.divider
            %li= link_to 'About', about_path
